include mixins/helpers

!!! html
html(lang="en", dir="ltr")
    head
        block head
            meta(http-equiv="content-type", content="text/html; charset=utf-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            
            //-
                Add cssClasses='livecss' to any css() call enable live reloading
            block styles
                block vendor-styles
                    mixin css('/vendor/bootstrap/css/bootstrap.css')
                    mixin css('hicons.css')
                block page-styles
                    mixin css('layout.css')
                block lib-styles
                    mixin css('util.css')
                    mixin css('graph-display.css')
                    mixin css('graph-nodes.css')
                    mixin css('graph-create.css')
                    mixin css('dashboard.css')
            
            link(type="image/ico", rel="icon", href="/favicon.ico")
            link(type="image/x-icon", rel="shortcut icon", href="/favicon.ico")
            
            block title
                title Limn
    
    body
        block body
            section#login
                .pull-right
                    include login
            
            section#content: .inner
                block content
            
            footer
                block footer
                    include footer
        
        block defs
            .templates
                block jade-templates
                    for f in findTemplates()
                        - var t = getTemplate(f)
                        script(id=t.id, data-template-name=t.id, data-template-path=t.path, type="text/html")
                            !{ t.text }
            
            .scripts
                block scripts
                    - var limn_config = { 'server':{ 'base':mount } };
                    block config
                    
                    script
                        var LIMN_VERSION = !{ JSON.stringify(version)  };
                        var LIMN_ENV     = !{ JSON.stringify(NODE_ENV) };
                        var limn_config = !{ JSON.stringify(limn_config) };
                    
                    block lib-scripts
                        if IS_DEV
                            for src in sources()
                                script(src=path.join(mount, src))
                            
                            //- Discover all .co files in ./src and include them
                            for src in findSources('src')
                                script(src=path.join(mount, 'js/limn', src))
                        else
                            for src in sources()
                                script(src=path.join(mount, src)+'?'+version)
                        
                    
                    block page-scripts
                        script
                            var limn = require('limn');
                            var _    = require('underscore');
                    block main-scripts
                        script
                            require('limn/hosted-app');
            
            block addenda
                .rilke: blockquote
                    p What we fight with is so small, and when we win, it makes us small.
                    p What we want is to be defeated, decisively, by successively greater things.
                    small Rainer Rilke
            

